body { font-family: Arial, Geneva, sans-serif; font-size:13px; color:#222; margin-left:10px; }
table { border:1px solid #ccc; margin:10px; }
p { line-height:150%; }
pre { padding:10px; border:1px solid #ccc; background:#F2F2F2; color: #111; }
:link:focus, :visited:focus { outline-style: none; }

header { text-align:center; padding-bottom:20px;}
header h1 { font-size:14px; font-weight:normal; padding:2px; margin-top:18px; color:#E13300; }
header a { color:#777; text-decoration:none; }

nav { position:fixed; width:210px; border:1px solid #eee; border-radius:6px; }
nav h2 { border-bottom:1px solid #eee; color:#777; padding-left:5px; margin-bottom:4px; }
nav ul { padding-left:0; }
nav li.chapter { font-weight:bold; font-size:110%; padding-left:10px; }
nav li { padding:4px 0 4px 24px; list-style:none; }
nav li a, #contents li a:visited { color:#09C; text-decoration:none; }
nav li.active { background:#1AB6EB; }
nav li.active a { color:#fff; }

#content { margin-left:230px; max-width:980px; }

#resources { font-size:18px; }

section { margin-bottom:30px; padding-bottom:20px; }
section img { border:1px solid #aaa; margin-left:20px; }
section h2 { border-bottom:1px solid #ccc; }
section li { line-height:150%; }

table.comparison { margin:10px; padding:8px; }
table.comparison td { padding:6px; }

.www { text-align:center; }

.rough { color:#E13300; }