body { font-family: Arial, Geneva, sans-serif; font-size:13px; color:#222; margin-left:40px; max-width:900px; }
table { border:1px solid #ccc; margin:10px; }
p { line-height:150%; }
pre { padding:10px; border:1px solid #ccc; background:#F2F2F2; color: #111; }
/*pre { padding:0; margin:0; } */

#title h1 { font-size:14px; font-weight:normal; padding:2px; margin-top:18px; color:#E13300; }
#title { text-align:center; }
#title a { color:#777; text-decoration:none; }

#contents { margin-top:20px; }
#contents h2 { border-bottom:1px solid #ccc; padding-left:2px; margin-bottom:4px; }
#contents ul { padding-left:10px; }
#contents li.chapter { font-weight:bold; font-size:110%; padding-left:0; }
#contents li { padding-left:14px; list-style:none; padding-top:7px; }
#contents li a, #contents li a:visited { color:#09C; text-decoration:none; }

#resources { font-size:18px; }

.section { margin-bottom:30px; padding-bottom:20px; }
.section img { border:1px solid #aaa; margin-left:20px; }
.section h2 { border-bottom:1px solid #ccc; }
.section li { line-height:150%; }

table.comparison { margin:10px; padding:8px; }
table.comparison td { padding:6px; }

.www { text-align:center; }

.rough { color:#E13300; }