body {
    margin:0;
    padding:0;
    font-family: "Trebuchet MS", sans;
    font-size:14px;
}
p { line-height:180%; }
h1 { font-size: 24px; }
a, a:visited { color: #006600; }

#container {
    width:820px;
    margin:auto;
    padding:14px 20px;
}
.section {
    border-bottom:1px solid #ccc;
}

td {
    padding:5px 20px;
}

#description {
    border:4px solid #FFCC47;
    background:#eee;
    position:absolute;
    bottom:20px;
    right:20px;
    width:400px;
    padding:3px;
    text-align:center;
}
#description h1 {
    font-size:16px;
    text-align:center;
    margin:0;
    padding:0;
}