body { font-family: Arial, Geneva, sans-serif; font-size:13px; color:#222; }
td { border-top:1px solid #ccc; padding: 0 20px; }
p { line-height:150%; }
pre.code { padding:10px; border:1px solid #ccc; background:#eee; }

#title h1 { font-size:18px; font-weight:normal; padding:2px; margin-top:18px; color:#E13300; }
#title img { float:left; margin:-8px 8px 0 8px; }

#contents { margin-top:40px; }
#contents h2 { border-bottom:1px solid #eee; font-weight:normal; padding-left:2px; margin-bottom:4px; }
#contents ul { padding-left:10px; }
#contents li.chapter { font-weight:bold; font-size:110%; padding-left:0; }
#contents li { padding-left:14px; list-style:none; padding-top:7px; }
#contents li a, #contents li a:visited { color:#111; text-decoration:none; }

#resources { font-size:18px; }

.section { margin-bottom:30px; padding-bottom:20px; }
.section img { border:1px solid #aaa; margin-left:20px; }
.section h2 { border-bottom:1px solid #ccc; }