#logArea {
	padding: 0 4px;
	font-family: monospace;
	font-size:12px;
	background-color:white;
	margin:0;
	overflow:auto;
}
#commandLine {
	margin: 0;
    padding: 0 4px;
    border: none;
    font-family: monospace;
	font-size:12px;
	border:none;
	width:100%;
	overflow:visible;
}