#polymlext-console-commandline-box {
	border-top: 1px solid #CCCCCC;
	background-color: #FFFFFF;
	font-size:13px;
}
#polymlext-console-commandline-arrow {
	margin: 2px 0 2px 7px;
	font-family: Monaco, monospace;
	color: #FF0000;
}

#polymlext-console-commandline-input {
	-moz-appearance: none;
	margin: 0;
	padding: 6px 4px 4px 12px;
	height: 26px;
	border: none;
	font-family: monospace;
	font-size:14px;
	direction: ltr;
	width: 100%;
	overflow: visible;
	font-weight: normal;
	padding-left:14px;
	background:url("chrome://polymlext/skin/arrow_right_small.png") 5px 9px no-repeat;
	border: none;
	border-top:1px solid #ccc;
}

#polymlext-console-commandline-input > .textbox-input-box > .textbox-textarea {
	overflow: hidden;
}
#polymlext-console-logarea, #polymlext-console-output {
	-moz-appearance: none;
	font-size:14px;
	font-weight:normal;
	margin:0;
	border:none;
	border-top:1px solid #ccc;
	background-color: #FFFFFF;
	color:#333;
	padding: 0 4px;
	font-family: monospace;
	background-color:white;
	overflow:auto;
}

#polymlext-console-buttons {
	margin-right:4px;
}
#polymlext-console-button-min {
	width: 16px;
    height: 16px;
    list-style-image: url(chrome://polymlext/skin/min.png);
}
#polymlext-console-button-min:hover {
	list-style-image: url(chrome://polymlext/skin/minHover.png);
}
#polymlext-console-button-min:active {
	list-style-image: url(chrome://polymlext/skin/minActive.png);
}
#polymlext-console-button-off {
	width: 16px;
    height: 16px;
    list-style-image: url(chrome://polymlext/skin/off.png);
}
#polymlext-console-button-off:hover {
	list-style-image: url(chrome://polymlext/skin/offHover.png);
}
#polymlext-console-button-off:active {
	list-style-image: url(chrome://polymlext/skin/offActive.png);
}

#polymlext-icon-statusindicator {
	font-size:12px;
	margin-top:4px;
	font-weight:bold;
}

#polymlext-console-title {
	font-size:13px;
	font-weight:bold;
}

#polymlext-button-console, #polymlext-button-nopoly {
	margin:2px;
}